<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="DbConnectionStr" value="Server=192.168.3.108;Database=Js_LineAlarm;User Id=jsene;Password=js123456;TrustServerCertificate=True" />
		<add key="DbConnectionStr_Dev" value="Server=LAPTOP-Yanwei;Database=Js_LineAlarm;User Id=yanwei;Password=3322;TrustServerCertificate=True" />
		<add key="LinePostUrl" value="http://192.168.3.216:5000/notify" />
		<add key="LinePostUrl_Dev" value="http://125.227.111.239:5000/notify" />
	</appSettings>
</configuration>
